<!-- some useful websites
http://www.appbrewery.co/p/newsletter
seanhalpin.io
colorhunt.co
https://developer.mozilla.org/en-US/docs/Web/CSS/color_value
browser default css- https://www.w3schools.com/cssref/css_default_values.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
emojipedia.org
-->

The <color> CSS data type represents a color in the sRGB color space. A <color> may also include an alpha-channel transparency value, indicating how the color should composite with its background.
<body style="background-color: red;">

defalut hr specificaions:	display: block;
                          margin-top: 0.5em;
                          margin-bottom: 0.5em;
                          margin-left: auto;
                          margin-right: auto;
                          border-style: inset;
                          border-width: 1px;

border style: /* Keyword values */
              border-style: none;
              border-style: hidden;
              border-style: dotted;
              border-style: dashed;
              border-style: solid;
              border-style: double;
              border-style: groove;
              border-style: ridge;
              border-style: inset;
              border-style: outset;

change text color css: /* h1{  
                           color: #4a3a70;
                            }
                          h3{
                          color: #4a3a70;
                            }*/


Class selectors:
/*
<img class="bacon" src="" alt="">
<img class="broccoli" scr="" alt"">


.bacon{
    background-color: #522546;
}
.broccoli{
    background-color: white;
}
*/



